<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
        <form
          class="text-center border border-primary p-5"
          style="margin-top: 70px; height: auto; padding-top: 100px !important"
          @submit.prevent="loginUser"
        >
          <input
            type="text"
            id="email"
            class="form-control mb-5"
            placeholder="Email"
            v-model="login.email"
            required
          />

          <!-- Password -->
          <input
            type="password"
            id="password"
            class="form-control mb-5"
            placeholder="Password"
            v-model="login.password"
            required
          />

          <p>
            Dont have an account??<router-link to="/register"
              >click here</router-link
            >
          </p>

          <!-- Sign in button -->
          <center>
            <button class="btn btn-primary btn-block w-75 my-4" type="submit">
              <img
                v-if="loading === true"
                src="../../assets/loader.svg"
                v-bind:style="styleObject"
              />
              <h5 v-else>Sign In</h5>
            </button>
          </center>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import swal from "sweetalert";
export default {
  data() {
    return {
      login: {
        email: "",
        password: ""
      },
      loading: false,
      styleObject: {
        width: "50px",
        height: "50px"
      }
    };
  },
  methods: {
    async loginUser() {
      this.loading = true;
      try {
        let response = await this.$http.post("/api/v1/users/login", this.login);
        let token = response.data.token;
        localStorage.setItem("jwt", token);
        localStorage.setItem("name", response.data.data.name);
        if (token) {
          this.loading = false;
          swal("Success", "Login Successful", "success");
          this.$router.push("/home");
        }
      } catch (err) {
        this.loading = false;
        swal("Error", "Something Went Wrong", "error");
        console.log(err.response);
      }
    }
  }
};
</script>
