<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
        <h1 style="text-align: center; margin-top: 20px">ENTERTWINE</h1>
        <form
          class="text-center border border-primary p-5"
          style="margin-top: 40px; height: auto;"
          @submit.prevent="registerUser"
        >
          <h1 style="text-align: center;">register</h1>
          <input
            type="text"
            id="name"
            class="form-control mb-5"
            placeholder="Name"
            v-model="register.name"
            required
          />
          <input
            type="email"
            id="email"
            class="form-control mb-5"
            placeholder="Email"
            v-model="register.email"
            required
          />

          <input
            type="text"
            id="phone"
            class="form-control mb-5"
            placeholder="Phone Number"
            v-model="register.phone"
            required
          />

          <!-- Password -->
          <input
            type="password"
            id="password"
            class="form-control mb-5"
            placeholder="Password"
            v-model="register.password"
          />
          <p>
            <!-- Sign in button -->
            <center>
              <button class="btn btn-primary btn-block w-75 my-4" type="submit">
                <img
                  v-if="loading === true"
                  src="../../assets/loader.svg"
                  v-bind:style="styleObject"
                />
                <h5 v-else>Sign Up</h5>
              </button>
            </center>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import swal from "sweetalert";
export default {
  data() {
    return {
      register: {
        name: "",
        email: "",
        password: "",
        phone: ""
      },
      loading: false,
      styleObject: {
        width: "50px",
        height: "50px"
      }
    };
  },
  methods: {
    async registerUser() {
      this.loading = true;
      try {
        let response = await this.$http.post(
          "/api/v1/users/create",
          this.register
        );

        if (response) {
          console.log(response.data.data.name);
          this.loading = false;
          localStorage.setItem("name", response.data.data.name);
          this.$router.push("/home");
          swal("Success", "Registration Was successful", "success");
        } else {
          this.loading = false;
          swal("Error", "Something Went Wrong", "Error");
        }
      } catch (err) {
        this.loading = false;
        swal("Error", "Sorry an Error Occured", "error");
      }
    }
  }
};
</script>
