<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">ENTERTWINE</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" @click="logUserOut"> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item">
                <h1>Hey, {{ name }}!</h1>
              </li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item">
                <h2>Welcome,</h2>
                <h6 class="mb-0">
                  The next page will direct you to check your email (the email
                  you entered on the previous screen) to complete the process of
                  creating an account.
                </h6>
                <h2>Have a great day!</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import VueJwtDecode from "vue-jwt-decode";
export default {
  data() {
    return {
      user: {},
      name: ""
    };
  },
  methods: {
    getUserDetails() {
      this.name = localStorage.getItem("name");
    },
    logUserOut() {
      localStorage.removeItem("name");
      this.$router.push("/");
    }
  },

  created() {
    this.getUserDetails();
  }
};
</script>

<style scoped></style>
